body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.box-container{
    display: flex;
    justify-content: center;
}

.gray{
    background-color: #D55075;
}

.pink{
    background-color: #57A0B7;
}

.orange{
    background-color: #FA9141;
}

.blue{
    background-color: #7694F3;
}

.flash{
    background-color: white;
}